@font-face {
    font-family: 'Comfortaa';
    font-weight: 400;
    src: url(./src/assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: 'Comfortaa';
    font-weight: 700;
    src: url(./src/assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf);

}
@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url(./src/assets/fonts/Nunito/static/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url(./src/assets/fonts/Nunito/static/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url(./src/assets/fonts/Nunito/static/Nunito-Bold.ttf);
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: url(./src/assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(./src/assets/fonts/Roboto/static/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url(./src/assets/fonts/Raleway/static/Raleway-Medium.ttf);
}

:root {
    --brand-yellow: #FDC435;
    --bg-gray: #F9FAFF;
    --bg-white: #fff;
    --bg-line: #25282B;
    --border-gray: #E8ECF4;
    --font-high-emphasis: #25282B;
    --font-medium-emphasis: #828282;
    --font-low-emphasis: #9a9fa8;
    --font-back: #333;
    --size-back: 4px;
    --content-width-max: 1200px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 4px;
}

body {
    font-size: 4rem;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* разметка лэйоут расположения */
/* разметка размеров и отсутпов */
/* разметка цветов шрифтов и дек элементов */

/* Шрифты */

.logo {
    font-family: 'Comfortaa';
    font-weight: 700;
    
    font-size: 4.5rem;
    line-height: 1.5;

    color: var(--font-high-emphasis);
}

.section__label {
    font-family: "Nunito";
    font-weight: 700;

    font-size: 5rem;
    color: var(--brand-yellow);
}

.nav__link {
    font-family: 'Railway';
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 1.5;

    color: var(--font-high-emphasis);

    text-decoration: none;
}

.field__label {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: 4rem;

    color: var(--font-high-emphasis);
}

.first-display__descr, .card__descr, .copyryght {
    font-family: 'Nunito';
    font-weight: 400;

    color: var(--font-medium-emphasis);
}

.first-display__descr {
    font-size: 6rem;
    line-height: 1.5;
}

.card__descr {
    font-size: 4.5rem;
    line-height: 1.5;
}

.copyryght {
    font-size: 4rem;
}

.btn {
    font-family: 'Roboto';
    font-weight: 500;

    font-size: 4.5rem;
    line-height: 1.5;

    color: var(--font-high-emphasis);
}

.title {
    font-family: 'Playfair Display';
    font-weight: 700;
}

.title_h1 {
    font-size: 16rem;
    line-height: 1.5;
}

.title_h2 {
    font-size: 12rem;
    line-height: 1.5;
}

.card__title {
    font-size: 10rem;
    line-height: 1.5;
}

/* шрифты закончились */



.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.page__content {
    display: flex;
    flex-direction: column;

    padding: calc(var(--size-back)*25) 0 calc(var(--size-back)*60) ;
    row-gap: calc(var(--size-back)*36);

    width: 100%;
    max-width: var(--content-width-max);

    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--size-back)*3.5) 0 0 0 ;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: calc(var(--size-back)*12);
}

.first-display {
    min-height: calc(var(--size-back)*120);    
} 

.section__label {
    margin-bottom: calc(var(--size-back)*3);
}

.title_h1 {
    margin-bottom: calc(var(--size-back)*8);
}

.first-display__descr {
    margin-bottom: calc(var(--size-back)*8);
}

.first-display__content {
    display: flex;
    flex-direction: column;

    max-width: calc(var(--size-back)*121.5);
}

.first-display__actions {
    display: flex;

    column-gap: calc(var(--size-back)*4);
}

.first-display__bg {
    position: absolute;
    top: 0;
    right: calc(var(--size-back)* -30);
    z-index: -1;
}

.projects {
    display: flex;
    flex-direction: column;

    row-gap: calc(var(--size-back)*20);

    align-items: center;
}

.projects__list {
    display: flex;
    flex-direction: column;

    row-gap: calc(var(--size-back)*20);

    max-width: calc(var(--size-back)*248);
}

.card {
    display: flex;
    max-width: calc(var(--size-back)*248);
    max-height: calc(var(--size-back)*131);
}

.card__content {
    flex-direction: column;

    padding: calc(var(--size-back)*12);

    row-gap: calc(var(--size-back)*6);

    margin: auto 0;
}

.card__content .btn {
    margin-right: auto;
}

.btn {
    background: none;
    border: none;
    outline-width: 0px;

    padding: calc(var(--size-back)*2) calc(var(--size-back)*6);
}

.btn_primary, .btn_outline {
    border-radius: 8px;
}

.btn_primary {
    background: var(--brand-yellow);
}

.btn_outline {
    border: 2px solid var(--font-high-emphasis);
}

.btn_round {
    border: 1px solid var(--font-high-emphasis);
    border-radius: 24px;
}

.form .btn {
    margin-left: auto;
}


.card_direction_reverse {
    flex-direction: row-reverse;
}

.card__descr {
    padding-bottom: calc(var(--size-back)*5);
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: calc(var(--size-back)*20);

    
    /* width: 100%; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: calc(var(--size-back)*6);
    width: 100%;

    max-width: calc(var(--size-back)*100);
    
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__field {
    row-gap: calc(var(--size-back)*2);
}

.footer {
    display: flex;
    flex-direction: column;

    row-gap: calc(var(--size-back)*8);

    align-items: center;
}

.socials {
    display: flex;

    column-gap: calc(var(--size-back)*6);
}

.socials__icon {
    width: calc(var(--size-back)*12);
    height: calc(var(--size-back)*12);
}

.footer__decor {
    position: absolute;
    bottom: calc(var(--size-back)* -28);
    left: 0;
    width: 100vw;
}

.form {
    /* size: 200px; */
}

.field__input, .field__textarea {
    background: var(--bg-white);
    border-radius: 8px;
    border: 1px solid var(--border-gray);
    padding: calc(var(--size-base)*2) calc(var(--size-base)*3);
  
    min-height: calc(var(--size-base)*20);
    min-width: calc(var(--size-back)*8)
  }

  .field__textarea {
    min-height: 100px;
  }

  .title_decorated::after {
    content: '';
    display: block;
  
    width: calc(var(--size-base)*25);
    height: var(--size-base);
    border-radius: 2px;
    background: var(--brand-yellow);
    margin: var(--size-base) auto 0;
  }